body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 992px;
    margin: auto;
}

#title {
    text-align: center;
    color: red;
}

p {
    margin: auto;
    text-align: center;
    max-width: 50%;
}

#button {
    margin: auto;
    display: block;
    text-align: center;
    width: 15%;
}
